name: Generate Changelog

on:
  workflow_dispatch:

jobs:
  generate-and-update-changelog:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Setup base tools
        uses: ./.github/actions/setup-base

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version: 'stable'

      - name: Install changelog-build tool
        run: just init-changelog

      - name: Generate and update CHANGELOG.md
        run: just build-changelog

      - name: Show generated changelog
        run: cat CHANGELOG.md
